{% extends "CmfMainBundle::layout.html.twig" %}

{% block content %}

{% createphp page as="rdf" %}
<div {{ createphp_attributes(rdf) }}>

    <h2 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h2>
    <div {{ createphp_attributes( rdf.body|raw ) }} >
        {{ createphp_content( rdf.body|raw ) }}
    </div>

</div>
{% endcreatephp %}

{% endblock %}
